<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion de Budget{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>BUDGET</h1> 
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f5f3e2;">
        <a class="navbar-brand  " href="{{ url_for('index') }}" style="color: #0C5E69;">Gestion du budget</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}" style="color: #0C5E69;">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_expense_page') }}" style="color: #0C5E69;">Ajouter Dépense</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_income_page') }}" style="color: #0C5E69;">Ajouter Revenu</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container mt-5">
            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
